.questions{
    text-align: left;
}
.questions h1{
    color: crimson;
}
.questions h2{
    color: crimson;
    font-size: 24px;
}
.questions ul{
    list-style: none;
    margin: 40px 10px;
    max-width: 70%;
}
.questions li{
    margin: 10px;
    line-height: 150%;
}
.questions li h3 {
    font-weight: bold;
}