.navbar{
    background-color: aliceblue;
    grid-column: 1 / span 2;
    grid-row: 1;
}
.navbar .flex{
    display: flex;
    height: 80%;
    flex-direction: row;
}
.navbar .flex div{
    margin: auto;
}
.navbar *{
    margin: 5px;
}
.navbar div{
    display: inline-block;
    padding: 0 30px;
}
.navbar img{
    height: 50%;
    display: inline-block;
}

@media (max-width:600px) {
    .navbar h1{
        font-size: 14px;
    }
    .navbar h2{
        font-size: 12px;
    }
}