.news{
    text-align: left;
}
.announces{
    text-align: left;
}
.news h1, .news img, .news ul{
    margin: 20px 30px;
}
.prices p{
    display: inline-block;
    color:blue;
    font-weight: bold;
}
.prices li{
    margin: 10px;
    font-size: 24px;
}
.h1{
    font-size: 36px;
}
.news ul li{
    margin: 10px;
}