.news{
    text-align: left;
}
.announces{
    list-style: none;
    text-align: left;
}
.prices{
    list-style: none;
}
.prices p{
    display: inline-block;
    color:blue;
    font-weight: bold;
}